<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jackting.keepalivedemo">


    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"
        />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".onepixel.OnePixelActivity"
            android:theme="@style/OnePixelTheme"
            />

        <service android:name=".service.StickyService" />
        <service android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <service android:name=".account.SyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"
                />
        </service>
        <service android:name=".account.AuthService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_auth"
                />
        </service>
        <provider
            android:authorities="com.xx.daemon.provider"
            android:name=".account.AccountProvider"
            android:exported="false"
            android:syncable="true"
            />

        <service android:name=".service.LocalService"
            android:exported="true"
            />
        <service android:name=".service.LocalService$InnerService"
            android:exported="true"
            />

        <service android:name=".service.RemoteService"
            android:exported="true"
            android:process=":remote"
            />

        <service android:name=".service.RemoteService$InnerService"
            android:exported="true"
            android:process=":remote"
            />
        <receiver android:name=".receiver.NormalSystemKeepAliveReceiver"
            >
            <!--<intent-filter>-->
                <!--
                1. 8.0前，在测试过程中发现，进程在被 force stop 后，一段时间内是收不到广播的，受限较大
                2. 8.0后取消了大部分静态注册的广播
                3. 综上，低版本有一定效果，高版本效果不大，但从支付包manifest文件中来看使用了该方式配合其他方式使用
                -->
                <!--<action android:name="android.intent.action.REBOOT"/>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.intent.action.SCREEN_ON"/>-->
                <!--<action android:name="android.intent.action.SCREEN_OFF"/>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED"/>-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED"/>-->
                <!--支付宝注册的广播接收 start-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->
                <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>-->
                <!--<action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>-->
                <!--支付宝注册的广播接收 end-->
            <!--</intent-filter>-->
        </receiver>
    </application>

</manifest>